body{
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar{
    width: 250px;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{

}

.logo{
   
}
.logo h1{
    font-size: 28px;
    font-weight: bold;
    color: white;
}

ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    width: 100%;
}


ul li a{
    width: 100%;
    display: inline-block;
    padding: 8px 8px;
    color: white;
    font-size: 20px;
    text-decoration: none   ;
}
ul li a:hover{
    text-decoration: none;
    color: white;
}
ul li a:hover span::after{
    width: 100%;
}
ul li a span{
    cursor: pointer;
    position: relative;
}
ul li a span::after{
    content: "";
    width: 20%;
    height: 3px;
    border-radius: 6px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom:-2px;
    transition: all 0.3s;
}
